:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient( 120deg, var(--vp-c-brand-1) 30%, var(--vp-c-brand-next) );
  --vp-home-hero-image-background-image: linear-gradient( -45deg, var(--vp-c-brand-1) 30%, var(--vp-c-brand-next) );
  --vp-home-hero-image-filter: blur(80px);

  --vp-c-brand-1: #00a98e;
  --vp-c-brand-light: #4ad1b4;
  --vp-c-brand-lighter: #78fadc;
  --vp-c-brand-dark: #008269;
  --vp-c-brand-darker: #005d47;
  --vp-c-brand-next: #009ff7;
  animation: rainbow 40s linear infinite;
}
/* Theme Light Color */

@media (prefers-color-scheme: light) {
  : { 
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/**/
.page-fill-height {
  height: calc(100vh - 64px - 32px)  
}


/* 
 * Define to virtual:uno.css 
  * @media (min-width: 640px) .container { width: 100% }
  * @media (min-width: 768px) 
  * @media (min-width: 1024px) 
  * @media (min-width: 1280px) 
  * @media (min-width: 1536px) 
 */
.container {
  padding-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.aside {
  margin-left: 24px;
  top: 112px;
  position: sticky;
  height: 100%; 
}
.content {
  margin: 48px 0 16px;
}
.section {
  margin: 48px 0px 16px;
}
h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.text-h2 {
  letter-spacing: -.02em;
  line-height: 32px;
  font-size: 1.5em;
  font-weight: bold;
}
